@font-face {
	font-family: 'iconfont'; /* Project id 2332256 */
	src: url('//at.alicdn.com/t/font_2332256_2smxqrjv3s8.woff2?t=1621047445892') format('woff2'),
		url('//at.alicdn.com/t/font_2332256_2smxqrjv3s8.woff?t=1621047445892') format('woff'),
		url('//at.alicdn.com/t/font_2332256_2smxqrjv3s8.ttf?t=1621047445892') format('truetype');
}
.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon__inform::before {
	content: '\e603';
	font-size: 18px;
}

.icon__add:before {
	content: '\e612';
	margin-right: 5px;
}

.icon__setting:before {
	content: '\e60b';
	margin-right: 10px;
}

.icon__exit:before {
	content: '\e7ed';
	margin-right: 10px;
}

.icon__down:before {
	content: '\e63f';
}

.icon__up:before {
	content: '\e64d';
}

.icon__bio:before {
	content: '\e6df';
}

.icon__gender:before {
	content: '\e63e';
}

.icon__name:before {
	content: '\e60a';
}

.icon__address:before {
	content: '\e610';
}

.icon__occupation:before {
	content: '\e661';
}

.icon__school:before {
	content: '\e61e';
}

.icon__profile:before {
	content: '\e663';
}

.icon__security:before {
	content: '\e626';
}

.icon__custom:before {
	content: '\e605';
}

.icon__warn:before {
	content: '\e635';
}

.icon__home:before {
	content: '\e6b5';
}

.icon__link:before {
	content: '\e61a';
}

.icon__pageview:before {
	content: '\e7d0';
}

.icon__time:before {
	content: '\e630';
}

.icon__like:before {
	content: '\e602';
}

.icon__comment:before {
	content: '\e60d';
}

.icon__share:before {
	content: '\e675';
}

.icon__loading:before {
	content: '\e6cd';
}

.icon__phone:before {
	content: '\e615';
}

.icon__email:before {
	content: '\e648';
}

.icon__password:before {
	content: '\e644';
}

.icon__search:before {
	content: '\e609';
}
/* logo */
.icon__qq:before {
	content: '\e65c';
	margin-right: 5px;
	font-size: 30px;
	color: #32a6d4;
}

.icon__douyin:before {
	content: '\e601';
	margin-right: 5px;
	font-size: 30px;
	color: #1c0b1b;
}

.icon__weibo:before {
	content: '\ea89';
	margin-right: 5px;
	font-size: 30px;
	color: #e22c1f;
}

.icon__twitter:before {
	content: '\e72e';
	margin-right: 5px;
	font-size: 30px;
	color: #1da1f2;
}

.icon__xiaohongshu:before {
	content: '\e66d';
	margin-right: 5px;
	font-size: 30px;
	color: #ff2840;
}

.icon__facebook:before {
	content: '\e608';
	margin-right: 5px;
	font-size: 30px;
	color: #1278f3;
}

.icon__bilibili:before {
	content: '\e627';
	margin-right: 5px;
	font-size: 30px;
	color: #fb7299;
}

.icon__wechat:before {
	content: '\e65b';
	margin-right: 5px;
	font-size: 16px;
	color: #1ac064;
}

.icon__csdn:before {
	content: '\e638';
	margin-right: 5px;
	font-size: 16px;
	color: #ff4d4d;
}

.icon__github:before {
	content: '\e600';
	margin-right: 5px;
	font-size: 16px;
	color: #181617;
}

.icon__zhihu:before {
	content: '\e629';
	margin-right: 5px;
	font-size: 16px;
	color: #0084ff;
}
