@font-face {
  font-family: 'iconfont';  /* Project id 2801040 */
  src: url('//at.alicdn.com/t/font_2801040_s0ngd1ebv5a.woff2?t=1631378498112') format('woff2'),
       url('//at.alicdn.com/t/font_2801040_s0ngd1ebv5a.woff?t=1631378498112') format('woff'),
       url('//at.alicdn.com/t/font_2801040_s0ngd1ebv5a.ttf?t=1631378498112') format('truetype');
}
