.inner {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left {
	height: 100%;
	display: flex;
	align-items: center;

	.logo {
		width: 150px;
		height: 40px;
		font-size: 0;
		background: blue;
		background-size: 50px 100px;
	}
}
.mb-logo,
.mb-left,
.mb-right {
	display: none;
}

.right {
	display: flex;
	align-items: center;
	.un-login {
		display: flex;
		.log-in {
			height: 30px;
			width: 50px;
			background: blue;
		}
		.sign-in {
			height: 30px;
			width: 50px;
			margin-left: 20px;
			background: blue;
		}
	}
	.login {
		display: flex;
		align-items: center;

		.write-button {
			height: 30px;
			width: 60px;
			background-color: blue;
		}
		.notice {
			width: 20px;
			height: 20px;
			margin: 0 30px;
			background-color: blue;
		}
		.profile {
			width: 42px;
			height: 42px;
			background-color: blue;
		}
	}
}
