.top-bar {
	background-color: $top-bar-color;
	border-bottom: 1px solid $border-color;
	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		padding: 0 12px;
	}
}

.left-inner {
	display: flex;
	align-items: center;
	height: 100%;
	.logo {
		width: 185px;
		height: 40px;

		background: url('@/assets/image/icon/logo-theme.png') no-repeat left;
		background-size: 200px 40px;

		font-size: 0;

		cursor: pointer;
	}
}

.right {
	display: flex;
	align-items: center;
	.un-login {
		display: flex;
		align-items: center;
		.log-in {
			height: 30px;
			width: 50px;
			border-radius: 2px;

			font-size: 14px;
			color: #ffffff;

			text-align: center;
			line-height: 30px;

			background: $theme-color;
		}
		.sign-in {
			height: 30px;
			width: 50px;
			border: 1px solid $theme-color;

			font-size: 14px;
			color: $theme-color;

			text-align: center;
			line-height: 30px;
			border-radius: 2px;
			margin-left: 20px;
		}
	}
	.login {
		display: flex;
		align-items: center;

		.write-button {
			height: 30px;
			width: 60px;
			text-align: center;
			line-height: 30px;
			border: 1px solid $theme-color;
			font-size: 14px;
			color: $theme-color;
			border-radius: 2px;
		}
		.notice {
			width: 24px;
			height: 24px;
			margin: 0 30px;
			text-align: center;
			line-height: 24px;
			color: $theme-color;
		}
		.profile {
			width: 42px;
			height: 42px;
			border-radius: 50%;
			border: 1px solid $border-color;
		}
	}
}
.options {
	display: none;
}
.option-button {
	display: none;
}

/* ------------------------- */
@media screen and (max-width: 700px) {
	.inner {
		padding: 0 12px;
	}

	.left {
		order: 2;
		flex: 1;
		.left-inner {
			flex: 1;
		}
		.input-slot {
			display: none;
		}
		.logo {
			width: 100%;
			height: 32px;
			background-position: center;
			background-size: 148px 30px;
		}
	}

	.right {
		order: 3;
		.sign-in,
		.write-button,
		.profile {
			display: none;
		}

		.login {
			.notice {
				font-size: 22px;
				margin: 0;
				margin-right: 5px;
			}
		}
	}

	.option-button {
		order: 1;
		display: block;
		width: 30px;
		height: 30px;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		color: $theme-color;
	}

	.options {
		display: block;
		display: none;
		z-index: 40;
		position: fixed;
		top: 55px;
		right: 0;
		width: 200px;
		height: 100%;
		.un-login {
			.bar {
				height: 30px;
			}
			.log-in {
				height: 30px;
				width: 50px;
			}
		}
	}
}
