.editorviews {
    color: $black_3;
    line-height: 1.5;
    p {margin-top: 22px;margin-bottom: 22px;}
    h1 { margin-top: 35px;font-size: 30px;margin-bottom: 5px;padding-bottom: 5px;}
    h2 { margin-top: 35px;font-size: 24px;margin-bottom: 10px;padding-bottom: 12px;border-bottom:1px solid #dfdfdf;}
    h3 { margin-top: 35px;font-size: 24px;margin-bottom: 10px;}
    h4 { margin-top: 35px;font-size: 24px;margin-bottom: 10px;padding-bottom: 12px;}
    h5 { margin-top: 35px;font-size: 24px;margin-bottom: 10px;padding-bottom: 12px;}
    h6 { margin-top: 5px;font-size: 24px;margin-bottom: 10px;padding-bottom: 12px;}
    }
