[button]{
  cursor: pointer;
  &:hover{
    opacity: 0.9;
  }
}
.theme{
  color: #0071c5;
}
.bg-white {
  background-color: #fff;
}

/* [border] START */
.bdb{
  border-bottom: 1px solid #e6e6e6;
}
.bd {
  border: 1px solid #e6e6e6;
}
/* [border] END */

/* [flex] START */
.flex {display: flex;}
.flex-items-center {align-items: center;}
.flex-items-start {align-items: flex-start;}
.flex-items-end {align-items: flex-end;}
.flex-center {justify-content:center;}
.flex-between {justify-content: space-between;}
.flex-around {justify-content: space-around;}
.flex-evenly {justify-content: space-evenly;}
.felx-start {justify-content:flex-start;}
.felx-end {justify-content:flex-end;}
.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap;}
.flex-1 {flex: 1; min-width: 0;}
.flex-2 {flex: 2; min-width: 0;}
.flex-3 {flex: 3; min-width: 0;}
.flex-4 {flex: 4; min-width: 0;}
.flex-5 {flex: 5; min-width: 0;}
.flex-6 {flex: 6; min-width: 0;}
/* [flex] END */

/* [width] START */
.fit-width {
  width: 100%;
}
.w1200 {
  max-width: 1200px;
}
/* [width] END */

/* [height] START */
.fit-height {
  height: 100%;
}
.h55 {
  height: 55px;
}
/* [height] END */

/* [font-size] START */
.f10 {font-size:12px; width: 120%; transform: scale(0.833); transform-origin: left top;}
.f11 {font-size:12px; width: 110%; transform: scale(0.916); transform-origin: left top;}
.f12 {font-size:12px;}
.f13 {font-size:13px;}
.f14 {font-size:14px;}
.f15 {font-size:15px;}
.f16 {font-size:16px;}
.f18 {font-size:18px;}
.f20 {font-size:20px;}
.f22 {font-size:22px;}
.f24 {font-size:24px;}
.f25 {font-size:25px;}
.f26 {font-size:26px;}
.f28 {font-size:28px;}
.f30 {font-size:30px;}
.f32 {font-size:32px;}
.f34 {font-size:34px;}
.f36 {font-size:36px;}
.f38 {font-size:38px;}
.f40 {font-size:40px;}
.f46 {font-size:46px;}
.f60 {font-size:60px;}
/* [font-size] END */

/* [margin] START */
.mt2 {margin-top:2px}
.mt3 {margin-top:3px}
.mt4 {margin-top:4px}
.mt5 {margin-top:5px}
.mt6 {margin-top:6px}
.mt8 {margin-top:8px}
.mt9 {margin-top:9px}
.mt10 {margin-top:10px}
.mt11 {margin-top:11px}
.mt12 {margin-top:12px}
.mt15 {margin-top:15px}
.mt16 {margin-top:16px}
.mt18 {margin-top:18px}
.mt20 {margin-top:20px}
.mt21 {margin-top:21px}
.mt22 {margin-top:22px}
.mt25 {margin-top:25px}
.mt26 {margin-top:26px}
.mt30 {margin-top:30px}
.mt35 {margin-top:35px}
.mt40 {margin-top:40px}
.mt45 {margin-top:45px}
.mt48 {margin-top:48px}
.mt50 {margin-top:50px}
.mt55 {margin-top:55px}
.mt60 {margin-top:60px}
.mt65 {margin-top:65px}
.mt70 {margin-top:70px}
.mt80 {margin-top:80px}
.mt82 {margin-top:82px}
.mt90 {margin-top:90px}
.mt100 {margin-top:100px}
.mt110 {margin-top:110px}
.mt120 {margin-top:120px}
.mt150 {margin-top:1.5px}
.mt190 {margin-top:190px}

.mb10 {margin-bottom:10px}
.mb15 {margin-bottom:15px}
.mb20 {margin-bottom:20px}
.mb24 {margin-bottom:24px}
.mb30 {margin-bottom:30px}
.mb40 {margin-bottom:40px}
.mb50 {margin-bottom:50px}
.mb60 {margin-bottom:60px}
.mb100 {margin-bottom:100px}

.ml5 {margin-left:5px}
.ml8 {margin-left:8px}
.ml10 {margin-left:10px}
.ml12 {margin-left:12px}
.ml15 {margin-left:15px}
.ml16 {margin-left:16px}
.ml18 {margin-left:18px}
.ml20 {margin-left:20px}
.ml25 {margin-left:25px}
.ml30 {margin-left:30px}
.ml40 {margin-left:40px}
.ml45 {margin-left:45px}
.ml50 {margin-left:50px}
.ml70 {margin-left:70px}
.ml80 {margin-left:80px}
.ml100 {margin-left:100px}
.ml120 {margin-left:120px}
.ml150 {margin-left:150px}
.ml300 {margin-left:300px}

.mr5 {margin-right:5px}
.mr10 {margin-right:10px}
.mr13 {margin-right:13px}
.mr15 {margin-right:15px}
.mr20 {margin-right:20px}
.mr30 {margin-right:30px}
.mr40 {margin-right:40px}
.mr50 {margin-right:50px}
.mr100 {margin-right:100px}
/* [margin] END */

.f14 {
  font-size: 14px;
}
