@font-face {
	font-family: 'iconfont'; /* Project id 2332256 */
	src: url('//at.alicdn.com/t/font_2332256_yjdx8m3iku.woff2?t=1625558240309') format('woff2'),
		url('//at.alicdn.com/t/font_2332256_yjdx8m3iku.woff?t=1625558240309') format('woff'),
		url('//at.alicdn.com/t/font_2332256_yjdx8m3iku.ttf?t=1625558240309') format('truetype');
}

.iconfont, [iconfont] {
	font-family: 'iconfont';
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon__left::before {
	content: '\e79a';
	font-size: 14px;
	margin-right: 10px;
}
.icon__succeed::before {
	content: '\e66e';
	color: #6bc839;
	font-size: 15px;
	margin-right: 10px;
}

.icon__inform::before {
	content: '\e603';
	font-size: 18px;
}

.icon__add:before {
	content: '\e612';
}

.icon__setting:before {
	content: '\e60b';
	margin-right: 10px;
}

.icon__exit:before {
	content: '\e7ed';
	margin-right: 10px;
}

.icon__down:before {
	content: '\e63f';
}

.icon__up:before {
	content: '\e64d';
}

.icon__bio:before {
	content: '\e6df';
}

.icon__gender:before {
	content: '\e63e';
}

.icon__name:before {
	content: '\e60a';
}

.icon__address:before {
	content: '\e610';
}

.icon__occupation:before {
	content: '\e661';
}

.icon__school:before {
	content: '\e61e';
}

.icon__profile:before {
	content: '\e663';
}

.icon__security:before {
	content: '\e626';
}

.icon__custom:before {
	content: '\e605';
}

.icon__warn:before {
	content: '\e635';
}

.icon__home:before {
	content: '\e6b5';
}

.icon__link:before {
	content: '\e61a';
}

.icon__pageview:before {
	content: '\e7d0';
}

.icon__time:before {
	content: '\e630';
	font-size: 15px;
	margin-right: 3px;
}

.icon__like:before {
	content: '\e602';
}

.icon__comment:before {
	content: '\e60d';
}

.icon__share:before {
	content: '\e675';
}

.icon__loading:before {
	content: '\e6cd';
}

.icon__phone:before {
	content: '\e615';
}

.icon__email:before {
	content: '\e648';
}

.icon__password:before {
	content: '\e644';
}

.icon__search:before {
	content: '\e609';
}
/* logo */
@mixin setIconColor($color) {
	display: block;
	color: $color;
	background: transparentize($color, 0.85);
	box-shadow: 0 0 3px 0 transparentize($color, 0.85);
	font-size: 24px;
}
.icon__qq:before {
	font-family: iconfont;
	content: '\e65c';
	@include setIconColor(#32a6d4);
}

.icon__douyin:before {
	font-family: iconfont;
	content: '\e601';
	@include setIconColor(#1c0b1b);
}

.icon__weibo:before {
	font-family: iconfont;
	content: '\ea89';
	@include setIconColor(#e22c1f);
}

.icon__twitter:before {
	font-family: iconfont;
	content: '\e72e';
	@include setIconColor(#1da1f2);
}

.icon__xiaohongshu:before {
	font-family: iconfont;
	content: '\e66d';
	@include setIconColor(#ff2840);
}

.icon__facebook:before {
	font-family: iconfont;
	content: '\e608';
	@include setIconColor(#1278f3);
}

.icon__bilibili:before {
	font-family: iconfont;
	content: '\e627';
	@include setIconColor(#fb7299);
}

.icon__wechat:before {
	font-family: iconfont;
	content: '\e65b';
	@include setIconColor(#1ac064);
}

.icon__csdn:before {
	font-family: iconfont;
	content: '\e638';
	@include setIconColor(#ff4d4d);
}

.icon__github:before {
	font-family: iconfont;
	content: '\e600';
	@include setIconColor(#181617);
}

.icon__zhihu:before {
	font-family: iconfont;
	content: '\e629';
	@include setIconColor(#0084ff);
}
