@font-face {
	font-family: 'iconfont';  /* Project id 2824017 */
	src: url('//at.alicdn.com/t/font_2824017_xgwpp78xw7.woff2?t=1632071973715') format('woff2'),
		 url('//at.alicdn.com/t/font_2824017_xgwpp78xw7.woff?t=1632071973715') format('woff'),
		 url('//at.alicdn.com/t/font_2824017_xgwpp78xw7.ttf?t=1632071973715') format('truetype');
  }

[iconfont]{
	font-family: 'iconfont';
}

.icon_comment {
	&::before{
		content: '\e609';
		margin-right: 5px;
	}
}
.icon_time {
	&::before{
		content: '\e790';
		margin-right: 5px;
	}
}
.icon_like {&::before{content: '\e644';}}
.icon_liked {&::before{content: '\e6e3';}}
.icon_arrow {&::before{content: '\e600'; margin-right: 5px;}}


@mixin setIconColor($color) {
	display: block;
	color: $color;
	background: transparentize($color, 0.85);
	box-shadow: 0 0 3px 0 transparentize($color, 0.85);
	font-size: 24px;
}
