@import '@theme';
.c_main-profile {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border: 1px solid $border-color;
	border-radius: 8px;
	box-shadow: 0 2px 3px 0 $border-color;

	.cover {
		width: 100%;
		height: 250px;
		background: no-repeat center;
		background-size: 1000px 250px;
	}

	.profile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 150px;
		padding: 0 20px;
		.photo-warp {
			box-sizing: content-box;
			position: relative;
			top: -20%;
			width: 160px;
			height: 160px;
			border: 14px solid #fff;
			border-radius: 10px;
		}
		.photo {
			box-sizing: border-box;
			width: 100%;
			height: 100%;
			border: 1px solid #f5f3f3;
		}

		.info {
			flex: 1;
			margin-left: 12px;
		}
		.basic-info {
			display: flex;
			align-items: center;
		}
		.info-name {
			font-size: 24px;
		}
		.info-job {
			font-size: 18px;
			margin-left: 20px;
		}

		.other-info {
			margin-top: 12px;
		}
		.info-gender {
			color: #808080;
		}
		.more-button {
			margin-top: 12px;
			color: #808080;
			font-size: 14px;
			display: flex;
			align-items: center;
			&::before {
				display: block;
				content: '\e63f';
				margin-right: 10px;
				font-size: 18px;
				font-weight: 700;
			}
		}

		.focus-me {
			border: 1px solid $theme-color;
			padding: 5px 20px;
			border-radius: 2px;
			color: #fff;
			background: $theme-color;
		}
	}
}

@media screen and (max-width: 710px) {
	.c_main-profile {
		border: none;
		border-radius: 0px;
		border-bottom: 1px solid $border-color;
		.cover {
			height: 150px;
			background-size: 710px 177px;
			@media screen and (max-width: 500px) {
				background-size: 500px 150px;
			}
		}

		.profile {
			position: relative;
			height: 120px;
			padding: 0 7px;
			.photo-warp {
				top: 0;
				height: 80px;
				width: 80px;
				border-width: 10px;
			}

			.focus-me {
				position: absolute;
				right: 19px;
				bottom: 20px;
				padding: 3px 16px;
				font-size: 14px;
				@media screen and (max-width: 330px) {
					top: 50%;
					transform: translateY(-50%);
					height: 25px;
				}
			}
			.info {
				margin-left: 10px;
				.basic-info {
					.info-name {
						font-size: 16px;
					}
					.info-job {
						font-size: 14px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}
