.main-profile {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cover {
	width: 100%;
	height: 240px;
	background: yellow;
}

.profile {
	width: 100%;
	flex: 1;
	background: forestgreen;
	display: flex;
	align-items: flex-end;
	.photo {
		width: 160px;
		height: 160px;
		background: fuchsia;
		position: relative;
		top: -55px;
		margin-left: 20px;
	}
	.info {
		margin-left: 30px;
		flex: 1;
		height: 100px;
		background: fuchsia;
		position: relative;
		top: -35px;
	}
	.basic-info {
		display: flex;
		align-items: center;
		.info-name {
			line-height: 30px;
			font-size: 26px;
		}
		.info-job {
			margin-left: 12px;
			font-size: 18px;
		}
	}
	.info-gender {
		width: 24px;
		height: 24px;
		margin: 12px 0;
		background-color: blue;
	}
	.more-button {
		width: 120px;
		height: 20px;
		background-color: blue;
	}

	.focus-me {
		width: 115px;
		height: 30px;
		position: relative;
		top: -35px;
		background: fuchsia;
		margin-right: 20px;
	}
}
